%% -*- mode: erlang -*-
{require_otp_vsn, "R18|19|20"}.
{sub_dirs, []}.
{erl_opts, [
	{platform_define, "^[0-9]+", namespaced_types},
	fail_on_warning,
	debug_info,
	warn_export_all,
	warn_untyped_record
	]}.

{validate_app_modules, true}.

{cover_enabled, true}.

{cover_print_enabled, false}.

{xref_checks, [
	undefined_function_calls,
	undefined_functions,
    deprecated_function_calls,
    deprecated_functions,
    locals_not_used
]}.



{eunit_opts, [verbose]}.

{deps, [
]}.


% {edoc_opts, [
% 	{dialyzer_specs, all},
% 	{report_missing_type, true},
% 	{report_type_mismatch, true},
% 	{pretty_print, erl_pp},
% 	{preprocess, true}, 
% 	{parse_transform, lager_transform}
% 	]}.

% {edoc_opts, [
% 	{doclet, asciiedown_doclet}, 
% 	{app_default, "http://www.erlang.org/doc/man"},
% 	{new, true}, 
% 	{packages, false}, 
% 	{stylesheet, ""},   % don't copy stylesheet.css
%     {image, ""},      % don't copy erlang.png
%     {top_level_readme, {"./README.md", "https://gitlab.com/leapsight/ls_lib", "master"}}
% ]}.

{edoc_opts, [
	{doclet, edown_doclet},
	{source_path, ["src", "test"]},
	{stylesheet, ""},
	{image, ""},
	{app_default,"http://www.erlang.org/doc/man"}
]}.